:root {
  --primary-black: #131926;
  --primary-white: #fafafa;
  --active-button: #df2528;
  --main-bg: #fafafa;
  --lightgray: #b7b8bc;
  --gray-bg: #f0f0f0;
}

.root {
  background-color: var(--main-bg);
}

.header {
  width: 100%;
  display: flex;
}

.header__logo {
  width: 100px;
  height: 100px;
  background: url(images/logo.svg) no-repeat center / cover;
}

.header__src-frm {
  margin: 32px 0 0 100px;
  position: relative;
}

.header__src-inpt {
  background-color: var(--main-bg);
  box-sizing: border-box;
  width: 200px;
  border: 0;
  border-bottom: 2px solid var(--primary-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22.05px;
  padding: 2px 0 8px 33px;
  color: var(--primary-black);
}

.header__src-icon {
  width: 17.49px;
  height: 17.49px;
  background: url(images/src-icon.svg) no-repeat center / cover;
  position: absolute;
  top: 3px;
  left: 2px;
}

.header__menu {
  display: flex;
  gap: 80px;
  margin: 40px 0 0 129px;
}

.header__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-decoration: none;
  color: var(--primary-black);
  text-box-edge: cap, both;
}

.button {
  font-weight: 800;
  padding: 0;
  border-radius: 29px;
}

.header__button {
  margin: 22px 23px 0 297px;
}

.button_stl_blck {
  width: 230px;
  height: 58px;
  font-size: 18px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: 0;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner__title {
  margin: 54px 0 0 0;
  color: var(--primary-black);
  font-size: 185px;
  font-weight: 800;
  line-height: 226.63px;
  text-transform: uppercase;
}

.filter {
  max-width: 1162px;
  margin: 80px auto 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 20px;
}

.filter__buttons {
  font-size: 14px;
  height: 49px;
  border: 2px solid var(--primary-black);
  background-color: var(--primary-white);
}

.button_color_red {
  border: 0;
  background-color: var(--active-button);
  color: var(--primary-white);
}

.button_sz_s {
  width: 147px;
}

.button_sz_m {
  width: 200px;
}

.button_sz_l {
  width: 237px;
}

.button_sz_xl {
  width: 274px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 47px;
}

.cards__grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 60px 40px;
  justify-content: center;
}

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 233px;
}

.card__info {
  width: 360px;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  padding: 29px 59px 0 26px;
}

.card__date {
  margin: 0;
  color: var(--lightgray);
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
}

.card__name {
  margin: 16px 0 0;
  color: var(--lightgray);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.card__description {
  margin: 10px 0 0;
  color: var(--primary-black);
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__title {
  margin: 150px 0 0;
  font-weight: 800;
  font-size: 100px;
  line-height: 123px;
  color: var(--primary-black);
}

.projects__grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 440px);
  overflow: hidden;
}

.project__info {
  box-sizing: border-box;
  padding: 146px 193px 146px 140px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--gray-bg);
}

.project__info-title {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: var(--primary-black);
}

.project__info-descr {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-black);
}

.project__img {
  width: 100%;
}

.content {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.content__title {
  margin: 0;
  font-weight: 800;
  font-size: 100px;
  line-height: 123px;
  color: var(--primary-black);
}

.content__container {
  max-width: 1161px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content__text {
  margin: 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  color: var(--primary-black);
}

.bid {
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 73px 140px 71px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
  background-color: var(--primary-black);
}

.bid__title {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: var(--primary-white);
}

.bid__form {
  margin: 0;
  display: flex;
  gap: 40px;
}

.bid__form-input {
  width: 360px;
  border: 0;
  border-bottom: 2px solid var(--primary-white);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--lightgray);
  background-color: var(--primary-black);
  padding-bottom: 22px;
}

.bid__sbm-btn {
  width: 364px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.bid__prgr {
  max-width: 1020px;
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: var(--main-bg);
  align-self: flex-start;
}

.bid__number {
  text-decoration: none;
  color: var(--active-button);
}

.map {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.map_title {
  margin: 0 auto;
  font-weight: 800;
  font-size: 100px;
  line-height: 123px;
  color: var(--primary-black);
}

.map__container {
  position: relative;
  overflow: hidden;
}

.map__link {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.map__link_place_mid {
  top: 14px;
}

.map__link_place_bot {
  top: 28px;
}

.map__frame {
  border: 0;
  width: 100%;
  height: 648px;
  position: relative;
}
